body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

.wrap {
  height: 100%;
  width: 100%;
}

.main-top {
  height: 60%;
  background-color: #1ab496;
}

.button-style {
  width: 92px;
  height: 32px;
}

.title {
  background-color: #1ab496;
  width: 100%;
  height: 60px;
}

img.logo-img {
  width: 207px;
  height: 55px;
}

.logo-style {
  margin-left: 20px;
}

.menu-content {
  display: block;
  float: right;
  width: 77%;
}

.menu-style {
  display: block;
  height: 60px;
  width: 150px;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
  float: left;
}

.menu-style:hover {
  background-color: #0ec7a3;
}

.menu-style:active {
  background-color: #1eccaa;
}

.menu-usr-style {
  position: relative;
  display: block;
  padding-right: 13px;
  height: 60px;
  width: 150px;
  line-height: 60px;
  text-align: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
  float: right;
  margin-right: 30px;
}

.drop-down-img {
  background-image: url(../images/drop-down.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 25px;
  height: 22px;
  top: 14px;
  right: 1px;
}

.menu-usr-style:hover {
  background-color: #0ec7a3;
}

.drop-down-style {
  position: absolute;
  top: 60px;
  background-color: #1ab496;
  width: 151px;
  border-radius: 3px;
  border-top: 1px solid #106b59;
  display: none;
}

.every-drop-down {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #fff;
  display: block;
}

.every-drop-down:hover {
  background-color: #0ec7a3;
}

.every-drop-down:active {
  background-color: #1eccaa;
}

.show-drop-down {
  display: block;
  z-index:20;
}

.mian-box {
  width: 90%;
  margin: 0 auto;
  background-color: white;
}

.key-world-style {
  position: relative;
  float: right;
  margin-right: 25px;
}

.input-style {
  outline: none;
  border: 1px solid gray;
  border-radius: 3px;
  height: 24px;
  width: 200px;
  margin-top: 10px;
  padding-left: 10px;
}

.select-icon {
  height: 20px;
  width: 20px;
  background-image: url(../images/select.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: 2px;
}

.span-table {
  width: 76px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.span-current-tab {
  background-color: #1ab496;
}

.span-other-tab {
  background-color: #e0e0e0;
}

.table-style {
  padding-top: 48px;
  margin-left: 26px;
}

.table-content {
  border: 1px solid;
  height: 325px;
  margin-right: 25px;
}

.bread-style {
  margin-bottom: 21px;
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  margin-left: 33px;
}

.base-style {
  width: 100%;
  text-align: center;
}